@model IEnumerable<OlympusWeb.Models.Hipoteca>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NumeroPlano)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Provincia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Distrito)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Canton)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GravamenesAnotaciones)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TipoPropiedad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Persona.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Persona.Apellido)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Persona.Identificacion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Persona.Telefono)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Persona.Email)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NumeroPlano)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Provincia)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Distrito)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Canton)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GravamenesAnotaciones)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TipoPropiedad)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.HipotecaId }) |
            @Html.ActionLink("Details", "Details", new { id=item.HipotecaId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.HipotecaId })
        </td>
    </tr>
}

</table>
