@model IEnumerable<OlympusWeb.Models.AgenteIns>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Persona.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Persona.Apellido)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Persona.Identificacion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Persona.Telefono)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Persona.Email)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.AgenteInsId }) |
            @Html.ActionLink("Details", "Details", new { id=item.AgenteInsId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.AgenteInsId })
        </td>
    </tr>
}

</table>
